// Color mixins, dark n gloomy to bright n hopeful
@color1: #323a45;
@color2: #3f6184;
@color3: #778899;
@color4: #5faeb6;
@color5: #f6f7f9;

.translate (@x, @y:0) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
}
.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
// browsers likes to color
*:focus {
    outline: none;
}
// make it big, and give all the children some colors of the wind
body, html {
  postition: relative;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-size: 62.5%;
  font-weight: bold;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}
.browse {
  .device-name {
    font-size: 4em;
  }
}
.pagination-wrapper {
  width: auto;
}
// gunna make this pretty later :)
.pagination {
  position: fixed;
  left: 50%;
  .translate(-50%,0);
  bottom: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size: 1.5em;
  a, span {
    color: @color5;
    text-decoration: none;
    display: block;
    padding-top: 50%;
    padding-bottom: 50%;

  }
  li {
    -webkit-flex-grow: 1;
    flex: 1;
    border-radius: 50%;
    background: fade(@color2, 75%);
    &:hover {
      background: @color2;
    }
    &.disabled {
      &:hover {
        background: fade(@color2, 75%)
      }
    }
    margin: 3px;
    line-height: 0px;
    border: 3px solid fade(@color5, 10%);
    &.active-page {
      border: 3px solid fade(@color2, 20%);
      background: none;
      span {
        outline: 6px solid @color3;
        background: @color2;
      }
    }

  }
}
// search results ul, and li items
.results {
  position: fixed;
  top: 50%;
  .translate(0,-50%);
  width: 100%;
  font-size: 2em;
  line-height: 2em;
  color: fade(@color1, 20%);
  li {
    text-align: center;
    cursor: pointer;
    height: auto;
    width: 100%;
    .device-brand {
      display: none;
    }
    .device-name {
    }
    &.active {
      position: relative;
      font-size: 2em;
      margin: 30px 0;
      color: @color1;
      .device-brand {
        .unselectable();
        z-index: -1;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4em;
        .translate(-50%,-50%);
        color: fade(@color1, 5%);
      }
    }
  }
}
// give the only element on this page something to look at in the mirror
.search-box {
  max-width: 100%;
  width: 500px;
  &.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%,-50%);
  }
  &.rel-top {
    position: fixed;
    top: 0;
    left: 50%;
    .translate(-50%,0);
    .logo {
      height: 40px;
    }
  }
  .search-bar {
    position: relative;
    font-size: 2.5em;
    max-width: 100%;
    width: 500px;
    .logo {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    input {
      color: @color1;
      width: 100%; // fill the tank
      height: 50px;
      text-align: left;
      background: @color5; // soft, soothing backgrounds
      border-radius: 2px;
      border: 2px solid @color2;
      padding: 0 20px 0 75px;
      overflow-x: hidden;
    }
  }
}
// them teenie tiny phones
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 640px) {

}
// tableterino
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {

}
