{% extends 'search/base.html' %}
{% load static %}
{% block content %}
<!-- home page -->
<!-- sends results of search to results page -->
<!-- centered search bar with a logo and input field, nothing more -->
<nav class="search-box abs-center">
  <form action="{% url 'results' %}" method="get" accept-charset="utf-8">
    <div class="search-bar">
      <div class="logo"><img src="{% static '/images/fono-logo.png' %}" alt="fono logo"/></div>
      <input required autocomplete='off' name='search' type='text' placeholder="search for a phone" maxlength="30" autofocus>
    </div>
  </form>
</nav>
{% endblock %}
