{% load static %}

<html>
<head>
  <!-- pretty standard head stuffs -->
  <title>Mobile Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- css reseterino -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <!-- jayest query & less compiler -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>
  <!-- that good good custom styles 'n scripts -->
  <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}" />
  <!-- for dev eyes only -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- any extras -->
  {% block head %}
  {% endblock %}
</head>
  <body>
    <nav> <!-- let's be real, this is probably just gunna have 2 clickables -->
      <a href="{% url 'browse' %}"><h1>Browse</h1></a>
      <form action="{% url 'search' %}" method="get" accept-charset="utf-8">
        <input required name='search' type='text' value='' placeholder="search">
      </form>
    </nav>
    <main> <!-- The payload -->
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
