/*-------------------------site variables---------------------------*/
@color1: #323a45; // dark dark blue
@color2: #3f6184; // dark grey blue
@color3: #778899; // turqoise blue
@color4: #5faeb6; // pale blue
@color5: #f6f7f9; // basically white
/*-------------------------site mixins---------------------------*/
.animation (@duration: 300ms, @delay: 0) {
	-webkit-animation-duration: @duration;
	-moz-animation-duration: @duration;
	-ms-animation-duration: @duration;
	-o-animation-duration: @duration;
	-webkit-animation-delay: @delay;
	-moz-animation-delay: @delay;
	-ms-animation-delay: @delay;
	-o-animation-delay: @delay;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.light-hover { // hover mixin with a pleasant white outline, faded white bg and bright text
	cursor: pointer;
	color: @color5;
	border: 2px solid fade(@color5, 80%);
	background: fade(@color5, 20%);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	-o-transform: rotate(@deg);
}
.translate (@x, @y:0) {
	-webkit-transform: translate(@x, @y);
	-moz-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin: @x @y;
	-ms-transform-origin: @x @y;
	-o-transform-origin: @x @y;
}
.unselectable { // ignore this stuff when highlighting for copy/paste
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*-------------------------Attributes---------------------------*/

// gradient background with an option for a big ol image, variety :)
body, html {
  postition: relative;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  font-size: 62.5%; // better for em scaling
  font-weight: bold;
  letter-spacing: 0.5px;
  overflow-x: hidden;
	background: linear-gradient(@color4,@color3);
	// background-image: url('../images/bg-image.jpg');
	// background-size: cover;
}
/*-------------------------Logo Style---------------------------*/
.logo {
	// centered and a third of the width of the search bar
	width: 30%;
	margin: 10px auto;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
/*-------------------------Pagination Style---------------------------*/
.pagination {
	// 10 px up, 500px or screen width
	margin-bottom: 10px;
  max-width: 500px;
	width: 100%;
	// bottom center of screen
	text-align: center;
	position: fixed;
  left: 50%;
  bottom: 0;
	.translate(-50%,0);
  li {
		font-size: 1.8em;
		// each circle is 40px, with a 3px margin
		width: 40px;
		margin: 3px;
		// 1px lighter border on no background
    border: 1px solid fade(@color5, 80%);
    background: none;
		// inline circle elements
		display: inline-block;
		border-radius: 50%;
		line-height: 0px;
		a { // link text color changes
			&:hover {
				color: @color5;
				cursor: pointer;
			}
		} // links circular background changes
		&:hover {
      background: fade(@color2, 80%);
    }
		a, span { // page links, current page and prev/next
			// light font with no underline
	    color: fade(@color5, 80%);
	    text-decoration: none;
			// like filling a balloon with air
	    display: block;
	    padding-top: 50%;
	    padding-bottom: 50%;
	  }
    &.disabled { // if you hover over a disabled circle, overwrite to original colors
      &:hover {
        background: none;
      }
    }
    &.active-page { // current page has a dark background with a light page number
			background: fade(@color2, 50%);
			span {
				color: fade(@color5, 80%);
			}
    }
  }
	.results-count { // Showing _-_ of _
		// light, faded font
	  color: fade(@color5, 50%);
		font-size: 2em;
		// centered atop pagination
		position: absolute;
		top: 0;
		left: 50%;
		.translate(-50%, -150%);
	}
}
/*-------------------------Search Results Style---------------------------*/
.results {
	// 100% up to 1600px, centered and a bottom margin (for pagination buttons)
	margin: 0 auto 125px auto;
	max-width: 1600px;
  width: 100%;
	// no results
	.no-results {
		// upper middle of page
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60%;
		p {
			//light font
			color: fade(@color5, 80%);
			font-size: 2em;
		}
	}
  li {
		margin: 10px auto;
		// results are centered on screen
    text-align: center;
    height: auto;
    width: 90%;
		max-width: 1600px;

		&.results-view {
			max-width: 500px;
			// hover state only applies in results-view
			&:hover {
				.device-name {
					// light, larger font
					font-size: 2.5em;
					.light-hover();
				}
	    }
		}
    .device-name {
			// centered no wider than 500px
			max-width: 500px;
			margin: 0 auto;
			// faded light font
		  font-size: 2em;
			line-height: 1.5em;
		  color: fade(@color5, 80%);
			// light, padded border
			padding: 10px 0;
			border: 2px solid fade(@color5, 50%);
			&:hover {
				.light-hover();
			}
    }
		.device-details {
			// hide the details,
			display: none;
			&.active-flex {
				// create multiple columns but wrap cuz flexbox
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				// fade in faster
				.animation(200ms);
				td {
					// fade in fast
					.animation(400ms, 0);
				}
				section {
					&.toggle-hide {
						td {
							// toggled to hide details
							display: none;
						}
					}
				}
				.middle-space {
					// vertically centered middle column
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-grow: 1;
					section {
						// centered middle table
						width: 90%;
						table, tr {
							margin: 5px 0;
							width: 100%;
						}
					}
				}
				.left-space, .right-space {
					table, tr {
						width: 100%;
					}
				}
				.device-name-active {
					// big, bright font
					font-size: 4em;
					color: fade(@color5, 80%);
					// in the middle
					position: relative;
					padding: 10px 0;
					margin: 50px 0;
					.device-brand-active {
						//faded and large backdrop font
						color: fade(@color5, 20%);
						font-size: 4em;
						// centered on the name
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						.translate(-50%,-50%);
						// doesn't interfere with highlights
						.unselectable();
					}
				}
				.back-to-top {
					// light, padded, centered button
					font-size: 1.8em;
					color: @color5;
					padding: 10px;
					margin: 10px 0;
					width: 100%;
					border: 1px solid fade(@color5, 50%);
					&:hover {
						// with a light hover effect
						.light-hover();
					}
				}
			}
			table {
				// dark faded background with a bright font
				color: fade(@color5, 80%);
				background: fade(@color1, 50%);
				// vertically spaced from other tables
				margin: 15px 0;
				tr { // rows are as big as they can be
					width: 100%;
					td {
						line-height: 1.5em;
					}
					td, th {
						// soft, white border
						padding: 10px;
						border: 1px solid fade(@color5, 30%);
					}
					th {
						// large section titles aligned left
						text-align: left;
						font-size: 2em;
						position: relative;
						&:hover {
							// clickable
							cursor: pointer;
						}
						span { // the little arrow
							font-size: 1.8em;
							// center right of the header
							position: absolute;
							.unselectable();
							&.down {
								top: 0;
								right: 5%;
								.translate(0,-20%);
							}
							&.up {
								bottom: 0;
								right: 5%;
								.translate(0,20%);
							}
						}
					}
					.label {
						font-size: 1.5em;
						// static cell size, aligned right
						width: 100px;
						text-align: right;
					}
					.payload {
						font-size: 1.8em;
						// double the label size
						width: 200px;
					}
				}
			}
		}
  }
}
/*-------------------------Search Box Style---------------------------*/
.search-box {
	// 500px or screen width
	width: 90%;
  max-width: 500px;
  &.flex-center {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%,-50%);
  }
  &.rel-top {
    position: relative;
		margin: 2% auto 0 auto;
  }
  .search-bar, .browse-button {
		// 100% up to 500px
    font-size: 2.5em;
    max-width: 100%;
    width: 500px;
    button, input {
			// bright, centered text
      color: @color5;
			background: fade(@color2, 20%);
      text-align: center;
			// soft, rounded light border
      border: 2px solid fade(@color5, 50%);
      border-radius: 2px;
			// 50px high and max width
			width: 100%;
      height: 50px;
			// text doesn't bleed out of the edges
      padding: 0 20px;
      overflow-x: hidden;
			// cool shadow
			.box-shadow(0 2px 2px 0 rgba(0,0,0,0.16));
			&:focus {
				// bright white border
				outline: none;
				border: 2px solid fade(@color5, 80%);
			}
			&::placeholder {
				// faded italic placeholder
				font-style: italic;
				color: fade(@color5, 50%);
			}
    }
  }
	.browse-button {
		// 10px below the search bar
		margin-top: 10px;
		&:hover {
			// faded white bg with bright text
			color: @color5;
			background: fade(@color5, 20%);
		}
		button {
			// bright white text
			color: fade(@color5, 80%);
			// clickable
			cursor: pointer;
		}
	}
}
